{% extends "layout.html" %}

{% block title %}
    Player Directory
{% endblock %}

{% block main %}


        <table class="table sortable table-striped ">
                <thead>
                    <tr>
                        <th>Player Name</th>
                        <th>Position</th>
                        <th>Team</th>
                        <th>Market Value</th>
                        <th>Points</th>
                        <th>Week Points</th>
                        <th>Goals</th>
                        <th>Assists</th>
                        <th>Own Goals</th>

                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <td colspan="10"></td>
                    </tr>
                </tfoot>

                <tbody>
                    <!-- If player has positions -->
                    {% if rows %}

                        {% for row in rows%}
                            <tr>
                                <td>{{ row["PLAYERFULLNAME"] }}</td>
                                <td>{{ row["POS"] }}</td>
                                <td>{{ row["TEAMNAME"] }}</td>
                                <td>${{ row["VALUE"] }}m</td>
                                <td>{{ row["POINTS"] }} </td>
                                <td>{{ row["WEEKPOINTS"] }} </td>
                                <td>{{ row["GOALS"] }} </td>
                                <td>{{ row["ASSISTS"] }} </td>
                                <td>{{ row["OWNGOAL"] }} </td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
                    {% else %}
                        <tr>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                </tbody>
            </table>

            <br>
            <h1>NO PLAYER DATA AVAILABLE!</h1>
            <br>
            Restart the application to pull new data.

                    {% endif %}



{% endblock %}
