{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    {% if not name %}
        <body>

            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

            <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
            <link href="/static/ballicon.ico" rel="icon">

            <link href="/static/styles.css" rel="stylesheet">

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

            <h1>
                <a><span class="blue">WELCOME </span><span class="red">TO </span><span class="yellow">FANTASY </span><span class="green">FOOTBALL </span> <span class="red">AUCTION </span></a>
            </h1>

            <br>

            <div>
                As a Telegraph Fantasy Football manager, your task is to assemble a team of 11 players to score you fantasy points based on their performances in the Premier League and FA Cup.
                This year there’s a prize pool of more than £15,000 to be won and you can manage up to five teams for free.
                By registering a team for the 2019/20 season, not only will you get 10 months of free entertainment, you'll also receive weekly Telegraph Fantasy Sports updates.
                Your account will also give you access to exclusive articles and must-read stories of the week in the From The Editor newsletter.
                Everything else you need to know about the game can be found within the Info Centre – how to select your teams, how to create and join leagues, what you can win, and how to compete in our unique Tournaments.
                We hope you enjoy the season, good luck!
            </div>

            <br>

            <h3> How To Play</h3>

            <div>
                Within a £50m budget, pick a team of 11 players to line up in one of six formations.
                You can change your team as much as you like during the transfer amnesty, which runs right up until the first Premier League kick-off at 20:00 on Friday, August 9, 2019. After that, you’ll get 40 transfers to last you for the season.
                Your chosen players score points for your team based on their performances in the Premier League and FA Cup matches throughout the 2019/20 season.
                The aim of the game is to finish as high up the leaderboard as possible by scoring as many points as you can.
                Points are awarded for appearances, scoring goals, creating goals and keeping clean sheets. Points are lost for yellow/ red cards and for conceding goals (see ‘Scoring Points’ for more details).
                You’ll be able to follow your team scores in real-time within the TFF live scoring facility.
            </div>

            <br>

            <h4> Click <a href="/register">Register</a> or <a href='/login'>Log In</a> to begin! </h4>

        </body>

    <!-- If a name exists, show the player data to the user -->
    {% else %}

        <h1>WELCOME {{ name }} !</h1>
        <br>
        <div style="text-align: left">
            The website is designed to help players to manage the auction process of bidding for new players within a league.
            On this site you can perform the following actions:
        </div>
        <br>
        <ol style="text-align: left">
            <li>Browse the DIRECTORY of all players in the league</li>
            <li>SEARCH for a specific player</li>
            <li>BID for a player</li>
            <li>View the AUCTION of all bids submitted for all players in your league</li>
            <li>View the players in your TEAM</li>
            <li>See how your team stats compares to other teams in the LEAGUE</li>
            <li>TOP UP your teams funds</li>
        </ol>

        <h2>Lets get started...</h2>

    {% endif %}

{% endblock %}
